@import "./global.scss";
@import "~bootstrap/scss/bootstrap";

* {
  margin: 0;
  overflow-x: hidden;
  .app {
    ::-webkit-scrollbar {
      display: none;
    }
    height: 100vh;
    .sections {
      width: 100%;
      height: calc(100vh - 56px);
      position: relative;
      scroll-snap-type: y mandatory;
      scroll-behavior: smooth;
      > * {
        width: 100vw;
        height: calc(100vh - 56px);
        scroll-snap-align: start;
      }
    }
  }
}
